:root {
  --brand-color: #212121(--brand-color);
  --background-color: #2196f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--brand-color);
  background-color: white;
  font-family: "Roboto", sans-serif;
}

/* general style  */
.link {
  cursor: pointer;
  text-decoration-line: none;
  color: var(--brand-color);
  color: var(--brand-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.list-style {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*   heeder */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  line-height: 1.19;
  text-decoration-line: none;
  padding: 24px 93px 24px 0px;
}

.header-logo>span {
  color: var(--background-color);
}

.link:hover,
.header-phone:hover,
.header-mail:hover,
.link:focus {
  color: var(--background-color);
}

.list-link:not(:last-child) {
  margin-right: 46px;
}

.header-mail,
.header-phone {
  cursor: pointer;
  text-decoration: none;
  color: #757575;
}

.header-mail {
  padding-right: 50px;
}

.header-phone {
  padding-right: 12px;
}

.header .header-phone {
  margin-left: auto;
  margin-right: auto;
}

/* efective solution with button  */
.section1 {
  height: 600px;
  text-align: center;
  background-image: url(https://github.com/KarolMajch/goit-markup-hw-04/blob/main/images/desk.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  background-position: center;
}


.title1 {
  color: white;
  align-items: center;
  text-transform: uppercase;
  font-size: 44px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 696px;
}

.button-order {
  background-color: var(--background-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 40px;
  margin-bottom: 200px;
  height: 50px;
}

/*  post in main website */
.block-lorem {
  margin-right: 30px;
}
.section2 .list-style {
  display: flex;
}
.post-title {
  font-size: 14px;
  font-style: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  padding-right: 30px;
  margin-top: 94px;
}

.post-lorem {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  text-align: justify;
}
 

 /* section what we do  */
.title3 {
  height: 42px;
  text-align: center;
  text-align: top;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: var(--brand-color);
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto;
  max-width: 362;
  margin-bottom: 50px;
}
.section3 {
  margin-top: 94px;
  margin-bottom: 94px;
}

.section3 .list-style {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}


/* section witm our team  */

.title4 {
  text-align: center;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--brand-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto;
  max-width: 212px;
}

.section4 .list-style {
  display: flex;
}

.section4 {
  background-color: #F5F4FA;
  padding-bottom: 94px;
}

.our-team {
  width: 270px;
  height: 368px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team:first-child {
  margin-left: 0px
}

.personal-date {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 30px 97px 10px;
}

.job-position {
  color: #757575;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  text-align: center;
}

/* custemers  */
.section5 {
display: flex;
width: 1170px;
height: 252px;
margin-left: auto;
margin-right: auto;
}

.custemer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top:  94px;
  line-height: 1.17;
}



/* tab porfolio - order buttons  */

.social-button {
  list-style: none;
  margin: 0 auto;
  max-width: 572px;
  margin-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}

.section6 .social-button {
  display: flex;
}

.social-button button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  list-style: none;
  background-color: #F5F4FA;
  padding: 6px 22px;
  margin-right: 8px;
}

.social-button .button:hover {
  background-color: var(--background-color);
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 1.625;
  border: 0px;
  padding: 8px 28px 6px 28px;
  border-radius: 4px;
}

/* tab portfolio - 9 project */

.section7 .list-style {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.section7 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.photo {
  flex-basis: calc((100%-5px)/3);
  align-content: center;
}

.photo:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06),
   1px 4px 6px rgba(0, 0, 0, 0.16);
   cursor: pointer;
}

.photo-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--brand-color);
  letter-spacing: 0.06em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.photo-services {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 24px 20px;
  line-height: 2;
}
.signature {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.list-style .photo {
  list-style: none;
  margin: 0px;
}

 /* footer style  */

.list-style .address {
  list-style: none;
  color: var(--brand-color);
  display: flex;
  align-items: center;
}

.adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  padding: 60px 0;
  list-style-type: none;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.19;
  text-decoration-line: none;
}

.footer-logo>span {
  color: #2196f3;
}

.footer-adres {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-mail:hover,
.footer-phone:hover {
  color: var(--background-color);
}

.adress .button:hover {
  background-color: var(--background-color);
}



/* the remaining css  */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}
